.logo {
  height: 100%;
  width: 100%;
  padding: 5px;
}

.logo img {
  width: 18vw;
  left: 0;
  margin: 15px;
}

.banner {
  background: url("https://tse2.mm.bing.net/th?id=OIP.Mt9bHTmkaqGiL0OP6AXm_AHaE8&pid=Api&P=0")
    no-repeat;
  background-size: cover;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner h1 {
  font-size: 80px;
  font-weight: 700;
  color: white;
  width: 80%;
}

.banner p {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-top: 10vh;
  width: 80%;
}

.subHeading {
  padding: 50px;
}

.subhead {
  letter-spacing: 5px;
  font-size: 18px;
  color: grey;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  width: 20rem;
}

.contact {
  background: url("https://cdn.pixabay.com/photo/2018/12/10/10/21/earth-3866609__340.jpg")
    no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 50px 40px;
}

.contactLine {
  color: white;
  font-weight: 700;
  font-size: 28px;
  padding: 50px 0px;
}

.buttons {
  margin-top: 10%;
}
.buttons button a {
  color: white;
  text-decoration: none;
}
.buttons button a:hover {
  color: black;
}

@media only screen and (max-width: 480px) {
  .banner h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 968px) {
  .banner h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 30rem;
  }

  .banner h1 {
    font-size: 50px;
  }

  .banner p {
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding-top: 10vh;
    width: 80%;
  }
}
